<nav class="w-full border-b border-gray-200 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0">
        <a href="/" class="text-xl font-semibold">Voice Bot Examples</a>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
        <a
          href="/"
          class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900 border-b-2 border-transparent hover:border-gray-300"
          >Home</a
        >
        <a
          href="/red"
          class="inline-flex items-center px-1 pt-1 text-sm font-medium text-red-600 border-b-2 border-transparent hover:border-red-300"
          >Red</a
        >
        <a
          href="/blue"
          class="inline-flex items-center px-1 pt-1 text-sm font-medium text-blue-600 border-b-2 border-transparent hover:border-blue-300"
          >Blue</a
        >
        <a
          href="/green"
          class="inline-flex items-center px-1 pt-1 text-sm font-medium text-green-600 border-b-2 border-transparent hover:border-green-300"
          >Green</a
        >
      </div>
    </div>
  </div>
</nav>
